@page "/parking"
@using KamazReservation.Shared.Models
@using KamazReservation.Shared.Models.ViewModels
@inject HttpClient client

<PageTitle>Схема парковки</PageTitle>

<h1>Схема парковки</h1>

@if (models != null)
{
    @foreach (var space in models.parkingSpaces)
    {
        <div class="parking-space @((space.IsOccupied) ? "occupied" : "free")">
            <a @onclick="()=>ShowInfo(space)">@space.Number</a>
        </div>
    }
}
else
{
    <text>Загрузка...</text>
}


@if (isActive)
{
    if (ps.IsOccupied==false)
    {
        <h2>Сейчас это место свободно</h2>

        <h3>Бронирования места №@ps.Number</h3>
        <table>
            <tr>
                <th>тест заголовка</th>
            </tr>
            <tr>
                <th>Бронирование</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
            </tr>
            @foreach(var booking in models.bookings)
            {
                <tr>
                    <th>0</th>
                    <th>@booking.StartTime</th>
                    <th>@booking.EndTime</th>
                </tr>

            }
        </table>

        <a class="btn btn-success" href="parking/reserve">Забронировать</a>
    }
    else
    {
        <h3>Бронирования места №@ps.Number</h3>
        <table>
            <tr>
                <th>Бронирование</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
            </tr>
            @foreach(var booking in models.bookings)
            {
                <tr>
                    <th>0</th>
                    <th>@booking.StartTime</th>
                    <th>@booking.EndTime</th>
                </tr>

            }
        </table>

        <a class="btn btn-success" href="parking/reserve">Забронировать</a>
    }
}



@code {
    ParkingViewModels models { get; set; }

    protected override async Task OnInitializedAsync()
    {
       models = await client.GetFromJsonAsync<ParkingViewModels>("/api/parking");
    }

    bool isActive = false;
    ParkingSpace ps;
    private void ShowInfo(ParkingSpace selectedSpace)
    {
        if (isActive && ps != selectedSpace)
        {
            ps = selectedSpace;
        }
        else
        {
            isActive = !isActive;
            ps = selectedSpace;
        }

    }
}