@page "/parking/reserve"
@inject HttpClient client
@inject NavigationManager navigate

<PageTitle>Бронирование</PageTitle>

<EditForm Model="@model" OnValidSubmit="@CreateBooking">
    <DataAnnotationsValidator />
    <div>
        <label>Номер места</label>
        <input @bind-value="@model.PlaceNumber"/>
        <ValidationMessage For="@(()=>model.PlaceNumber)"/>
    </div>

    <div>
        <label>Имя</label>
        <InputText @bind-Value="@model.Name" />
         <ValidationMessage For="@(()=>model.Name)"/>
    </div>

    <div>
        <label>Фамилия</label>
        <InputText @bind-Value="@model.LastName" />
         <ValidationMessage For="@(()=>model.LastName)"/>
    </div>

    <div>
        <label>Марка автомобиля</label>
        <InputText @bind-Value="@model.CarBrand" />
         <ValidationMessage For="@(()=>model.CarBrand)"/>
    </div>

    <div>
        <label>Модель автомобиля</label>
        <div>
            <InputText @bind-Value="@model.CarModel" />
             <ValidationMessage For="@(()=>model.CarModel)"/>
        </div>
    </div>

    <div>
        <label>Номер автомобиля</label>
        <InputText @bind-Value="@model.CarNumber" />
         <ValidationMessage For="@(()=>model.CarNumber)"/>
    </div>

    <div>
        <label></label>
        <input type="datetime-local" @bind-value="@model.StartTime" />
         <ValidationMessage For="@(()=>model.StartTime)"/>
    </div>

    <div>
        <label></label>
        <input type="datetime-local" @bind-value="@model.EndTime" />
         <ValidationMessage For="@(()=>model.EndTime)"/>
    </div>

    <button type="submit">Забронировать</button>

</EditForm>

@code {

    BookingViewModel model = new BookingViewModel();

    async Task CreateBooking()
    {
        await client.PostAsJsonAsync("api/parking", model);
        navigate.NavigateTo("");
    }
}