@page "/register"
@using Microsoft.AspNetCore.Identity
@inject HttpClient client
@inject NavigationManager navigate

<PageTitle>Регистрация</PageTitle>

<EditForm Model="@model" OnValidSubmit="@CreateUser">
    <DataAnnotationsValidator />
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <MudGrid Style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <MudCard Style="width: 600px;">
                <MudCardHeader Style="text-align: center">
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">Регистрация</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudTextField Label="Имя" @bind-Value="model.Name" For="@(()=>model.Name)" />
                    <MudTextField Label="Фамилия" @bind-Value="model.LastName" For="@(()=>model.LastName)" />
                    <MudTextField Label="Логин" @bind-Value="model.UserName" For="@(()=>model.UserName)" />
                    <MudTextField Label="Пароль" @bind-Value="model.Password" InputType="InputType.Password" For="@(()=>model.Password)" />
                    <MudTextField Label="Повторите ваш пароль" @bind-Value="model.ConfirmPassword" InputType="InputType.Password" For="@(()=>model.ConfirmPassword)" />
                </MudCardContent> <br />
                <MudCardActions Style="justify-content: center">
                    <MudButton Variant="Variant.Filled" Color="Color.Info" ButtonType="ButtonType.Submit">Зарегестрироваться</MudButton>
                </MudCardActions>
            </MudCard>
        </MudGrid>



    </div>

</EditForm>

@if (ErrorMessage != null)
{
    <div>
        <p>@ErrorMessage</p>
    </div>
}

@code {

    public string ErrorMessage { get; set; }
    RegisterViewModel model = new RegisterViewModel();

    async Task CreateUser()
    {
        var response = await client.PostAsJsonAsync("/api/account/register", model);
        if (response.IsSuccessStatusCode)
        {
            navigate.NavigateTo("profile");
        }
        else
        {
            ErrorMessage = "Не удалось зарегестрироваться";
        }
    }
}